---
import Sealy from "../assets/foca.webp";

const problemas = [
  {
    title: "Mi web no genera",
    highlightWord: "clientes",
    content: "Mucho tráfico, pocas ventas.",
  },
  {
    title: "El diseño es",
    highlightWord: "anticuado",
    content: "O no funciona bien en móviles.",
  },
  {
    title: "El mantenimiento es un",
    highlightWord: "dolor de cabeza",
    content: "Cada cambio cuesta tiempo y dinero.",
  },
];
---

<div
  class="min-h-[70vh] w-full flex flex-col justify-start pt-40 items-center text-center bg-white overflow-hidden relative"
>
  <!-- <div
    class="bg-gradient-to-r from-[#f9bd71] via-[#f793ab] to-[#f782ed] absolute inset-0 h-32 blur-xl -mt-10"
  >
  </div> -->

  <div class="flex flex-col w-full max-w-6xl items-center px-8">
    <!-- contenido -->
    <div class="text-start space-y-4 text-xl">
      <h2 class="text-5xl font-bold text-center mb-5">
        ¿Te suenan estos <span
          class="inline-block bg-highlight text-white px-4 pb-2 md:pb-3 mt-5 md:mt-0 rounded-lg"
          >problemas?</span
        >
      </h2>
      <p class="mb-10 text-center text-gray-600">
        No estás solo. A muchos negocios les pasa
      </p>
      <ul class="space-y-4 w-fit mx-auto">
        {
          problemas.map((problema) => (
            <li class="flex flex-row items-start justify-start  gap-4">
              <span class="inline-block w-5 h-5 rounded-full bg-highlight mt-1.25 flex-none" />
              <div>
                <h4 class="font-semibold ">
                  {problema.title}{" "}
                  <span class=" text-highlight">{problema.highlightWord}</span>
                </h4>
                <p class=" font-normal text-lg">{problema.content}</p>
              </div>
            </li>
          ))
        }
      </ul>
      <p class="text-center font-semibold text-3xl">Respira tranquilo.</p>
      <h3 class="text-4xl font-bold text-center mt-10 my-5">
        Nosotros nos encargamos de todo
      </h3>
      <p class="max-w-2xl mx-auto">
        En <b>SealCode</b> diseñamos y desarrollamos sitios web rápidos, optimizados
        y pensados para veder.
      </p>
      <p class="max-w-2xl mx-auto">
        Tú enfócate en tu negocio, nosotros nos encargamos del resto.
      </p>
    </div>
    <div class="grid grid-cols-2 w-full md:max-w-6xl justify-center">
      <div class="flex flex-col space-y-0 text-start">
        <p class="text-xl font-bold -mb-2">SealCode</p>
        <p>Approved</p>
      </div>
    </div>
  </div>
</div>
