---
import { Check } from "@lucide/astro";

// const plans = [
//   {
//     title: "Starter",
//     description: "Ideal para emprendedores",
//     features: [
//       "Landing page",
//       "Diseño responsivo",
//       "Fornmulario de contacto",
//       "Botón de Whatsapp",
//       "SEO básico",
//       "1 mes de soporte gratis",
//     ],
//   },
//   {
//     title: "Business",
//     description: "Para negocios en crecimiento",
//     features: [
//       "Sitio multipágina (Hasta 5 páginas)",
//       "Panel de administración",
//       "Galería de productos/servicios",
//       "SEO avanzado",
//       "Google Analytics",
//       "3 meses de soporte",
//     ],
//   },
// ];
---

<div
  id="preguntas_frecuentes"
  class="h-auto pb-30 w-full flex flex-col justify-start pt-20 items-center text-center bg-white overflow-hidden relative"
>
  <div class="flex flex-col w-full max-w-6xl items-center px-8">
    <!-- contenido -->
    <div class="text-start space-y-4 text-xl">
      <h2 class="text-5xl font-bold text-center mb-5">Preguntas Frecuentes</h2>
      <div class="h-0.5 w-64 mx-auto bg-highlight"></div>

      <ul
        class="accordion bg-gray-100 rounded-lg shadow-xl shadow-gray-100 p-0 w-full"
      >
        <!-- Duplicate this <li> as often as you want -->
        <li class="cursor-pointer my-1 border-b-[1.5px] border-highlight">
          <span
            class="font-bold text-xl tracking-tight text-gray-500 flex flex-row justify-between items-center"
          >
            <p class="p-2">¿Es muy caro?</p>
            <svg
              class="text-highlight mr-1"
              xmlns="http://www.w3.org/2000/svg"
              width="40"
              height="40"
              fill="currentColor"
              class="bi bi-arrow-down-short"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"
              ></path>
            </svg>
          </span>
          <div class="bg-white text-md p-2">
            Hay opciones según tu etapa y necesidades.
          </div>
        </li>

        <li class="cursor-pointer my-1 border-b-[1.5px] border-highlight">
          <span
            class="font-bold text-xl tracking-tight text-gray-500 flex flex-row justify-between items-center"
          >
            <p class="p-2">¿Necesito saber programación?</p>
            <svg
              class="text-highlight mr-1"
              xmlns="http://www.w3.org/2000/svg"
              width="40"
              height="40"
              fill="currentColor"
              class="bi bi-arrow-down-short"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"
              ></path>
            </svg>
          </span>
          <div class="bg-white text-md p-2">
            No. Tú te enfocas en tu negocio y nosotros en el resto.
          </div>
        </li>

        <li class="cursor-pointer my-1 border-b-[1.5px] border-highlight">
          <span
            class="font-bold text-xl tracking-tight text-gray-500 flex flex-row justify-between items-center"
          >
            <p class="p-2">¿Cuánto tiempo tarda?</p>
            <svg
              class="text-highlight mr-1"
              xmlns="http://www.w3.org/2000/svg"
              width="40"
              height="40"
              fill="currentColor"
              class="bi bi-arrow-down-short"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"
              ></path>
            </svg>
          </span>
          <div class="bg-white text-md p-2">
            En pocos días puedes tener tu página lista.
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<style>
  .accordion li > div {
    display: none;
  }

  .accordion .flipY {
    transform: rotate3d(1, 0, 0, 180deg);
  }

  .accordion svg {
    transition: all 1s cubic-bezier(0, 0.5, 0, 1);
  }
</style>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
  referrerpolicy="no-referrer"></script>
<script is:inline>
  $(document).on("click", ".accordion li", function (e) {
    $(this).find("div").slideToggle();
    $(this).find("svg").toggleClass("flipY");
  });
</script>
