---
import Sealy from "../assets/foca.webp";
import { Image } from "astro:assets";
---

<!-- <div
  class="min-h-[60vh] w-full flex flex-col justify-center items-center text-center overflow-hidden relative"
> -->
<div
  class="h-auto pb-30 w-full flex flex-col justify-start pt-20 items-center text-center bg-white overflow-hidden relative"
>
  <!-- <div
    class="bg-gradient-to-r from-[#f9bd71] via-[#f793ab] to-[#f782ed] absolute inset-0 h-32 blur-xl -mt-10"
  >
  </div> -->

  <div class="gradient w-full absolute inset-0"></div>
  <div
    class="relative z-10 flex flex-col-reverse md:flex-row w-full max-w-6xl justify-between items-center px-8"
  >
    <!-- contenido -->
    <div class="text-start space-y-4">
      <span class="text-7xl font-bold text-start">SEAL<br />CODE</span>
      <h1 class="text-3xl font-bold">
        Páginas web profesionales para pequeños negocios en México que quieren
        vender más
      </h1>
      <p class="max-w-md text-lg">
        Diseñamos páginas web claras, rápidas y enfocadas en generar clientes,
        sin complicaciones técnicas ni lenguaje raro.
      </p>
      <div class="flex flex-row max-w-md gap-4 font-semibold">
        <button
          class="bg-highlight text-white px-4 py-2 rounded-lg hover:scale-105 hover:cursor-pointer transition-all duration-200"
          >Quiero mi página web!</button
        >

        <a
          href="/#proceso"
          class="bg-transparent border-2 border-primary hover:bg-primary hover:text-white hover:scale-105 hover:cursor-pointer transition-all duration-200 px-4 py-2 rounded-lg"
          >¿Cómo funciona?</a
        >
      </div>
    </div>
    <Image
      width={500}
      height={500}
      src={Sealy}
      alt="sealy"
      class="w-[32vw] h-auto aspect-auto"
    />
  </div>
</div>

<style>
  .gradient {
    background:
      linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.9) 12%,
        rgba(255, 255, 255, 1) 50%
      ),
      linear-gradient(90deg, #62f473 0%, #34f7d3 50%, #11e9f5 100%);
    /* linear-gradient(90deg, #62f473 0%, #98e4d6 50%, #11e9f5 100%); */
    height: 100vh;
  }
</style>
