---
import Sealy from "../assets/foca.webp";
---

<div
  class="min-h-[70vh] w-full flex flex-col justify-center items-center text-center bg-white overflow-hidden relative"
>
  <!-- <div
    class="bg-gradient-to-r from-[#f9bd71] via-[#f793ab] to-[#f782ed] absolute inset-0 h-32 blur-xl -mt-10"
  >
  </div> -->

  <div class="gradient w-full absolute inset-0"></div>
  <div
    class="relative z-10 flex flex-col-reverse md:flex-row w-full max-w-4xl justify-between items-center px-8"
  >
    <!-- contenido -->
    <div class="text-start space-y-4">
      <h1 class="text-7xl font-bold text-start">SEAL<br />CODE</h1>
      <h2 class="text-xl font-bold">Desarrollo y diseño web</h2>
      <p class="max-w-md">
        En SealCode, desarrollamos páginas web y tiendas online de alto
        rendimiento que te hacen vender más, sin que tengas que preocuparte por
        el código.En SealCode, desarrollamos páginas web y tiendas online de
        alto rendimiento que te hacen vender más, sin que tengas que preocuparte
        por el código.
      </p>
      <div class="flex flex-row max-w-md gap-4">
        <button class="bg-[#f18b34] text-white px-4 py-2 rounded-lg"
          >Quiero mi web</button
        >

        <button class="bg-black text-white px-4 py-2 rounded-lg"
          >Quiero mi web</button
        >
      </div>
    </div>
    <img src={Sealy.src} alt="sealy" class="w-32 h-auto aspect-auto" />
  </div>
</div>

<style>
  .gradient {
    background:
      linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.9) 12%,
        rgba(255, 255, 255, 1) 50%
      ),
      linear-gradient(90deg, #c9f4ce 0%, #98dee4 50%, #98eef3 100%);
    height: 100vh;
  }
</style>
